.ideaCard {
  display: flex;
  position: relative;
  width: 80%;
  margin: 20px;
}

.ideaCardContent {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.ideaCardText {
  text-align: left;
  width: 100%;
  outline: none;
  border: black solid 1px;
  padding: 5px;
  margin: 0;
}

.deleteBtn {
  background: none;
  background-image: url('../../assets/images/delete.svg');
  position: absolute;
  right: -10px;
  top: -10px;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

[contenteditable='true']:focus {
  outline: none;
}
