.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #282c34;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Play', sans-serif;
  font-size: 2em;
  color: #FFFF99;
}
